
* {
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  
  width: 100%;
  margin: 0;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  max-width: 70ch;
}



