---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="full-bleed">About Me</h1>

  <div class="full-bleed my-space">
    <div class="area left">
      <div class="quick-info">
        <div class="profile-photo">
          <img
            src="https://scontent-lga3-1.xx.fbcdn.net/v/t39.30808-6/382237964_10225906365979268_1482796169879502037_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=KoD8uiFcx6kQ7kNvgHq4K9Q&_nc_ht=scontent-lga3-1.xx&oh=00_AfB1hSFcM_pQ2LYrqahWkQ_IXq_O0y7lEkXOFQI7jrIGHg&oe=6641E3A2"
          />
          <!-- TODO <button>change picture</button> -->
        </div>
        <div class="info-basic">
          <p><strong>Phil</strong></p>
          <p>he/him/his</p>
          <p>Washington, DC</p>
          <p>United States</p>
        </div>
      </div>
      <div class="contact-box">
        <h2>Contacting Phil</h2>
        <ul>
          <li>
            <button class="button-as-link" onclick="copyEmailAddress()"
              >Copy Email to Clipboard</button
            >
          </li>
          <li>
            <a href="mailto:pkk@phillipkentknight.com">Send Email in App</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/phillipkentknight"
              >Connect on LinkedIn</a
            >
          </li>
          <li>
            <a href="https://www.codepen.io/phillipkent"
              >Collaborate on Codepen</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="area right">
      <div class="biography wrapper">
        <h2>Tinkering with technology and trying to make a difference</h2>
        <p>
          I've spent over a decade helping campaigns and nonprofit organizations
          build and manage web products designed to change the world.
        </p>

        <p>
          Combining experience in campaigns with expertise in technology, I help
          teams bridge the gaps between creators, campaigners, developers, and
          stakeholders.
        </p>

        <p>
          My early career included front-line field organizing, traditional
          communications, and campaign strategy. Now, my specialty is bringing
          this knowledge into the digital products I build.
        </p>

        <p>
          I work well with campaigners and designers, and I'm happy to
          facilitate collaboration on topics including accessibility, frontend
          code, user experience, and product development.
        </p>

        <p>
          I'm continuously learning and expanding my technical skillset both
          professionally and for fun. I'm comfortable building
          production-quality CSS, HTML, and JavaScript as well as working with
          modern frameworks.
        </p>

        <p>
          Some of my best work has been using, hacking, extending, and
          integrating the most powerful and popular toolsets including platforms
          like ActionKit, Ghost, WordPress, NationBuilder, and New/Mode.
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
<script is:inline>
  function copyEmailAddress() {
    var emailHandle = "pkk";
    var emailDomain = "phillipkentknight.com";

    navigator.clipboard.writeText(`${emailHandle}@${emailDomain}`);
  }
</script>
<style>
  span.blockspam {
    display: none;
  }

  h1 {
    padding-inline: 1.5rem;
  }

  .my-space {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .area.left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 1.5rem;
    flex: 1;
  }

  .area.right {
    flex: 3;
  }

  .quick-info {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    gap: 1.5rem;
  }
  .quick-info .profile-photo {
    flex-basis: 24ch;
  }

  .info-basic {
    flex: 1;
    flex-basis: max-content;
  }

  .contact-box {
    background-color: black;
    color: white;
    border: 1px solid black;
  }

  .contact-box h2 {
    font-size: 1.3125rem;
  }

  .contact-box > * {
    padding-inline: 1.5rem;
  }

  .contact-box ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: baseline;
    justify-content: baseline;
    list-style: none;
    list-style-type: none;
    list-style-position: inside;
    gap: 1.5rem;
    padding: 1.5rem;

    background-color: white;
    color: black;
  }

  .button-as-link {
    border: 0;
    background: 0;
    padding: unset;
    text-align: start;
    text-decoration: underline;
    color: LinkText;
    color: -webkit-link;
    cursor: pointer;
    align-items: normal;
    border-style: none;
    box-sizing: content-box;
    display: inline;
    font: inherit;
    height: auto;
    padding: 0;
    perspective-origin: 0 0;
    text-align: start;
    text-decoration: underline;
    transform-origin: 0 0;
    width: auto;
    -moz-appearance: none;
    -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
    -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
  }
</style>
