---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";

const allPosts = await getCollection("posts");
---

<BaseLayout   pageTitle="Blog"
description="Latest posts from Phillip Kent Knight"
>
  <h1>Blog</h1>
  <ul class="blog-cards">
    {
      allPosts.map((post) => (
        <Card
          url={`/posts/${post.slug}/`}
          headline={post.data.title}
          body={post.data.description}
          date={post.data.pubDate}
        />
      ))
    }
  </ul>

  <a href="/tags">All tags</a>
</BaseLayout>

<style>
  ul.blog-cards {
    padding-inline-start: 0;
    list-style: none;
    list-style-type: none;
    display: grid;
    gap: 1.5rem;
  }
</style>
