---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Phillip Kent Knight CV">
  <h1>Curriculum Vitae</h1>

  <h2>Summary</h2>
  <ul>
    <li>10+ years building global digital products</li>
    <li>15+ years in campaigns and advocacy</li>
    <li>Millions of users served, thousands of targets reached</li>
    <li>Curious and cross-functional</li>
    <li>Writes code, speaks human, and understands designers</li>
    <li>
      Huge volume of experience with campaign tools and high-impact advocacy
    </li>
  </ul>

  <h2>Experience</h2>

  <ul class="experience">
    <li>
      <h3>350.org</h3>
      <h4>Software Developer</h4>
      <p>June 2024 - Present</p>
      <ul>
        <li>
          Providing senior-level front-end web engineering with a focus on
          accessibility and client-side performance, as well as reusable styles
          and components.
        </li>
        <li>Cross-ecosystem theme and template development with products and platforms including ActionKit, WordPress, and New/Mode, in addition to standalone and embedded applications.
          
        </li>

      </ul>
    </li>
    <li>
      <h3>The ONE Campaign</h3>
      <h4>Digital Product Manager</h4>
      <p>July 2020 - February 2024</p>
      <ul>
        <li>
          Managed diverse web and email product development with internal and
          external contributors, from developers and designers to campaigners
          and coalition partners.
        </li>
        <li>
          Developed prototypes for interactive experiments, including
          multivariate testing.
        </li>
        <li>
          Learned modern email code, managed re-design of email templates,
          single-handedly implemented dark mode support, "bulletproof" buttons,
          and AMP for email.
        </li>
        <li>
          Wrote thousands of lines of custom templates and logic including user
          personalization, localization, and internationalization.
        </li>
        <li>
          Oversaw development of custom ActionKit integrations including
          New/Mode and Zoom.
        </li>
        <li>
          Orchestrated a multi-year initiative to improve accessibility and
          achieve WCAG conformance, led accessibility efforts for a new
          component-based design system.
        </li>
      </ul>
      <h4>Digital Producer</h4>
      <p>November 2017 - July 2020</p>
      <ul>
        <li>
          Helped introduce the concept of “Product” at ONE, contributing to a
          user-focused roadmap and new team roles focused on fostering
          innovation as well as efficiency.
        </li>
        <li>
          Digital lead for public COVID19 response projects including <em
            >ONE World</em
          >,
          <em>Pandemica</em>, and <em>Pass the Mic</em>; developed private
          information hub for board meetings forced to go virtual.
        </li>
        <li>
          Introduced SVG and CSS animation to ONE.ORG public-facing and internal
          tools.
        </li>
        <li>
          Managed custom ActionKit integration with Phone2Action, including
          theme development.
        </li>
      </ul>
    </li>

    <li>
      <h3>Los Angeles LGBT Center</h3>
      <h4>Webmaster/Web Manager</h4>
      <p>June 2014 - October 2015</p>
      <ul>
        <li>
          Built or managed the development of several special project and event
          websites, a team fundraising site, and an online magazine.
        </li>
        <li>
          Coordinated migration from subscription to open-source CMS and CRM
          products.
        </li>
        <li>
          Collaborated with in-house designers to translate static print imagery
          into responsive on-screen content, and managed 3rd party vendors’
          digital projects.
        </li>
        <li>
          Directed email targeting, development, and distribution, managed
          marketing lists, analytics and reporting.
        </li>
        <li>Modeled a t-shirt for the website.</li>
      </ul>
    </li>
    <li>
      <h3>PollVault</h3>
      <h4>Political Organizing Expert</h4>
      <p>December 2013 - December 2014</p>
      <ul>
        <li>
          Provided advice and user experience feedback from the perspective of
          campaign stakeholders.
        </li>
        <li>
          Conducted outreach and demos with progressive political and nonprofit
          organizations.
        </li>
      </ul>
    </li>
    <li>
      <h3>NationBuilder</h3>
      <h4>Organizing Assistant</h4>
      <p>October - December 2013</p>
      <ul>
        <li>Researched market competitor products, offerings, and services.</li>
        <li>
          Analyzed and compiled leads for international political and nonprofit
          market opportunities.
        </li>
        <li>
          Targeted individual organizations and entities for outbound sales.
        </li>
      </ul>
    </li>
    <li>
      <h3>Common Cause</h3>
      <h4>Filibuster Reform Organizer</h4>
      <p>July - August 2013</p>
      <ul>
        <li>
          Served as statewide lead for Filibuster Reform efforts targeting
          Senators Dianne Feinstein and Barbara Boxer.
        </li>
        <li>
          Partnered with Sierra Club and Rodriguez Strategies to build a
          state-wide coalition including California Common Cause, Courage
          Campaign, Alliance for Justice, the Los Angeles County Federation of
          Labor (AFL-CIO), as well as several grass-tops leaders and members of
          the academic community.
        </li>
        <li>
          Coordinated statewide membership activation via social networks,
          direct phone calls, and an email.
        </li>
        <li>
          Conducted press outreach and wrote op-eds targeted for publication in
          the Los Angeles Times and San Francisco Chronicle.
        </li>
      </ul>
      <h4>Rapid-Response Organizer</h4>
      <p>May 2013</p>
      <ul>
        <li>
          Served as California statewide lead for activities related to the Save
          Our News coalition and the movement to prevent a sale of Tribune
          Newspapers to Charles & David Koch.
        </li>
        <li>
          Recruited Courage Campaign, SEIU, L.A. County Federation of Labor
          (AFL-CIO), Code Pink, and Greenpeace into a Los Angeles specific
          coalition, targeting Chairman Bruce Karsh of the Tribune Company.
        </li>
        <li>
          Coordinated 3 action events totaling over 600 participants, including
          acting as media contact and participating in on-air as well as print
          interviews.
        </li>
      </ul>
    </li>

    <li>
      <h3>Ferguson for School Board 2013</h3>
      <h4>Communications & Media Director</h4>
      <p>November 2012 - April 2013</p>
      <ul>
        <li>Directed press, direct-mail, email and social media.</li>
        <li>
          Assisted with message development, including media and debate
          preparation.
        </li>
        <li>
          Managed CMS/CRM implementation and administration, as well as staff
          training.
        </li>
        <li>Website theme and content design.</li>
      </ul>
    </li>

    <li>
      <h3>The Campaign for Excellent Schools</h3>
      <h4>GOTV Trainer</h4>
      <p>July - August 2013</p>
      <ul>
        <li>Trained field volunteers on direct voter contact.</li>
        <li>
          Participated in phone bank and canvass operations targeting youth
          voters.
        </li>
      </ul>
    </li>

    <li>
      <h3>Torie Osborn, Assembly 2012</h3>
      <h4>Campaign Technology Specialist</h4>
      <p>December 2011 - June 2012</p>
      <ul>
        <li>Dubbed “the Twitter Master” by Campaign Manager.</li>
        <li>
          Trained field staff and volunteer corps on messaging and miniVAN
          mobile canvassing application, as well as producing instructional
          videos.
        </li>
        <li>Managed local phone bank with 30 stations.</li>
        <li>
          Built and managed campaign technology infrastructure entirely with
          individual and club donated phones, computers, and networking
          equipment in order to facilitate instant data collection.
        </li>
        <li>
          Additional responsibilities included logistics planning, candidate
          staffing, and serving as the general repository for answers to obscure
          questions from voters.
        </li>
      </ul>
    </li>

    <li>
      <h3>Minnesota DFL Party</h3>
      <h4>Recount Logistics Organizer</h4>
      <p>November - December 2008</p>
      <ul>
        <li>
          Aided logistical preparation for statewide hand-count including
          volunteer training, packet assembly, statewide materials distribution,
          and driving exceedingly fast on ice to deliver computer equipment.
        </li>
        <li>
          Reverse-targeted rejected VBM/absentee ballots and triaged records for
          scrutiny by legal counsel.
        </li>
      </ul>
    </li>

    <li>
      <h3>Democratic Party of New Mexico</h3>
      <h4>Field Director, Tim Eichenberg for New Mexico</h4>
      <p>August - November 2008</p>
      <ul>
        <li>
          Beat a lack of volunteers (due to presidential, U.S. Senate, and
          congressional campaigns) by recruiting two State Senators, a State
          Senator-Elect, and a State Representative to walk and call daily.
        </li>
        <li>
          Partnered with Labor United 2008 (AFL-CIO) and Democratic Party of New
          Mexico Coordinated Campaign to increase phone calls in-district (and
          ended up serving as evening DPNM Predictive Dialer manager/”call back”
          recipient).
        </li>
        <li>
          Candidate knocked every accessible door in the district, including up
          to 3 knocks in targeted precincts.
        </li>
        <li>
          Won 56% of the vote in a traditionally solid red district, opposing a
          3 term incumbent.
        </li>
      </ul>
    </li>

    <li>
      <h3>California State Senate</h3>
      <h4>Legislative Intern</h4>
      <p>May - August 2008</p>
      <ul>
        <li>Managed constituent casework and correspondence.</li>
        <li>
          Performed legislative research and compiled reports on current local
          issues.
        </li>
      </ul>
    </li>

    <li>
      <h3>Ironclad Performance Wear</h3>
      <h4>Special Projects Consultant</h4>
      <p>2005 - 2008</p>
      <ul>
        <li>
          Managed various projects across departments, reporting to the Chief
          Executive Officer.
        </li>
        <li>
          Assisted Accounting department with records organization and audit
          preparation.
        </li>
        <li>Performed and documented product and materials testing.</li>
        <li>
          Cataloged survey responses from end-users and retail purchasers.
        </li>
      </ul>
    </li>

    <li>
      <h3>California State Assembly</h3>
      <h4>Legislative Intern</h4>
      <p>May - August 2007</p>
      <ul>
        <li>
          Managed legislative research with a focus on issues affecting
          marginalized communities.
        </li>
        <li>Provided field representation and Member staffing.</li>
      </ul>
    </li>

    <li>
      <h3>Gay-Straight Alliance Network</h3>
      <h4>Trainer & Advocacy Committee Member</h4>
      <p>September 2006 - July 2007</p>
      <ul>
        <li>
          Developed curriculum and instructed one-day and summer camp workshops
          on youth activism and leadership, with a focus on middle and high
          school campus organizing.
        </li>
        <li>
          Coordinated and hosted GSAN’s annual Sacramento lobbying event “Queer
          Youth Advocacy Day” with over 300 youth in attendance to meet with
          their respective members.
        </li>
        <li>
          Led lobbying meetings between youth constituents and Senate Republican
          leadership, as well as Assembly members from traditionally
          conservative districts.
        </li>
      </ul>
    </li>
  </ul>

  <h2>Professional Development</h2>

  <ul>
    <li>
      <strong>A Better Way To Find, Fix & Prevent Accessibility Issues</strong> with
      Deque
    </li>
    <li>
      <strong>Building A Design System with CSS</strong> with Andy Bell
    </li>
    <li>
      <strong>Creating and Maintaining Successful Design Systems</strong> with Brad
      Frost
    </li>
    <li>
      <strong>Frontend Accessibility Masterclass</strong> with Marcy Sutton
    </li>
    <li><strong>SVG Animation Masterclass</strong> with Cassie Evans</li>
    <li>
      <strong>Smart Interface Design Patterns</strong> with Vitaly Friedman
    </li>
    <li><strong>Data Analytics Bootcamp</strong></li>
    <li><strong>Intro to Tableau: Data Driven Insights Bootcamp</strong></li>
    <li><strong>Introduction to Inclusive Design</strong> with Elise Roy</li>
    <li><strong>SQL Bootcamp</strong></li>
    <li><strong>UX Design Bootcamp</strong></li>
    <li>
      <strong>Internet History, Technology, and Security</strong> by University of
      Michigan
    </li>
    <li>
      <strong>Advanced ActionKit Email Training</strong> with Shannon Turner
    </li>
    <li>
      <strong>48 Hours with VueJS</strong> at Inclusive Innovation Incubator
    </li>
    <li>Human Rights Campaign's <strong>Campaign College 2008</strong></li>
  </ul>

  <h2>Skills & Technology</h2>
  <h3>Platforms</h3>
  <ul class="skills">
    <li>ActionKit</li>
    <li>New/Mode</li>
    <li>Phone2Action</li>
    <li>WordPress</li>
    <li>Ghost</li>
    <li>EveryAction</li>
    <li>VAN</li>
    <li>NationBuilder</li>
    <li>Litmus</li>
    <li>Email on Acid</li>
    <li>Github</li>
    <li>Netlify</li>
    <li>Twilio</li>
    <li>Cloudflare</li>
  </ul>

  <h3>Languages</h3>
  <ul class="skills">
    <li>HTML 5</li>
    <li>CSS 3</li>
    <li>Javascript (vanilla + frameworks)</li>
    <li>JSON</li>
    <li>SVG</li>
    <li>AMP</li>
    <li>Django Template Language</li>
    <li>Liquid Markup</li>
    <li>Python</li>
    <li>Handlebars</li>
    <li>YAML</li>
  </ul>

  <h3>Topics</h3>
  <ul class="skills">
    <li>Accessibility</li>
    <li>User Experience</li>
    <li>User Interfaces</li>
    <li>Campaigns & Elections</li>
    <li>Nonprofit Organizations</li>
    <li>Web Animation</li>
    <li>Project Scoping</li>
    <li>Product Design & Development</li>
    <li>API Integrations</li>
    <li>Personalization, Internationalization, and Localization</li>
  </ul>
</BaseLayout>
<style>
  .experience {
    list-style: none;
    list-style-type: none;
    padding-inline-start: 0;

    display: grid;
    gap: 1.5rem;
  }
  .experience > li {
    display: grid;
    gap: 0.5rem;
  }

  .experience > li > ul {
    list-style: disc;
  }

  ul.skills {
    list-style: none;
    list-style-type: none;
    list-style-position: inside;
    padding-inline-end: 0.5rem;
    padding-inline-start: 0;
    & li {
      display: inline;
    }
    & li:has(+ li)::after {
      content: ",";
    }
  }
</style>
