---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="Hello, World!"
  description="The homepage of Phillip Kent Knight"
>
  <div class="full-bleed full-page sky">
    <div class="content">
      <h1 data-text="Hi, I'm Phil">Hi, I'm Phil</h1>
      <p>A campaigner 📣 turned technologist 💾</p><p>
        I help people build web products to change the world.
      </p>
    </div>
  </div>
  
  <div class="full-bleed ocean">
 <svg viewBox="0 0 1440 590" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150">
    <defs>
      <linearGradient id="a" x1="50%" y1="100%" x2="50%" y2="0%">
        <stop offset="5%" stop-color="#058aad" />
        <stop offset="95%" stop-color="#72c8df" />
      </linearGradient>
    </defs>
    <path d="M0 600V90c128.4976 12.1722 256.9952 24.3445 332 14 75.0048-10.3445 96.5167-43.2057 198-36s282.9378 54.4785 386 62c103.0622 7.5215 127.732-24.7081 202-38 74.268-13.2919 198.134-7.646 322-2v510H0Z" fill="url(#a)" fill-opacity=".265" class="transition-all duration-300 ease-in-out delay-150 path-0" />
    <path d="M0 600V210c89.665 8.7847 179.3301 17.5694 282 11 102.6699-6.5694 218.3445-28.4928 317-31 98.6555-2.5072 180.2919 14.402 272 30s193.488 29.8852 290 28c96.512-1.8852 187.756-19.9426 279-38v390H0Z" fill="url(#a)" fill-opacity=".4" class="transition-all duration-300 ease-in-out delay-150 path-1" />
    <path d="M0 600V330c78.1531-20.2392 156.3062-40.4785 256-42 99.6938-1.5215 220.9282 15.6746 336 33 115.0718 17.3254 223.9809 34.7799 321 32 97.0191-2.7799 182.1483-25.7943 268-33s172.4258 1.3971 259 10v270H0Z" fill="url(#a)" fill-opacity=".53" class="transition-all duration-300 ease-in-out delay-150 path-2" />
    <path d="M0 600V450c76.8612-11.665 153.7225-23.3301 252-16 98.2775 7.3301 217.9713 33.6555 313 50 95.0287 16.3445 165.3923 22.7081 264 9 98.6077-13.7081 225.4593-47.488 332-58 106.5407-10.512 192.7703 2.244 279 15v150H0Z" fill="url(#a)" class="transition-all duration-300 ease-in-out delay-150 path-3" />
  </svg>
  </div>
</BaseLayout>
<style>
  /* remove baseline alignment used elsewhere */
 
.full-page {
  height: 100vh;
  height: calc(100vh - (3rem + 2px + 1rem + 1rlh));
  max-height: 100%;

}
  .content {
    height: 100%; 
      display: grid;
    place-content: center;

    color: #6F4E37;
    
  }

  .sky {
      background-image: 
    radial-gradient(
      farthest-corner circle at 50% 50%,
      #deffff 24% 24%, #1ec0ff 100%
    )
  ;
  }

  .ocean {
  background-image: linear-gradient(
    to bottom,
    #0f8cac 10% 10%,
    71%,
    #0ba5d1 90% 90%
  );
  box-shadow: 0rem -0.5rem 1.5rem 2rem #deffff;
  
}



  @supports (background-color: oklch(0%, 0, 0)); {

      .sky {
          background-image: 
    radial-gradient(
      farthest-corner circle at 50% 50% in oklch,
      oklch(100% 0.05 232) 24% 24%, oklch(76% 0.15 232) 100%
    )
  ;
  }

  }
/* 
@media (prefers-reduced-motion: no-preference) {
  .path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: 30s;
  }

  @keyframes pathAnim-0 {
    0% {
      d: path(
        "M 0,600 L 0,90 C 67.95215311004785,65.30143540669857 135.9043062200957,40.60287081339713 246,50 C 356.0956937799043,59.39712918660287 508.33492822966514,102.88995215311004 614,120 C 719.6650717703349,137.11004784688996 778.755980861244,127.83732057416269 870,114 C 961.244019138756,100.16267942583731 1084.641148325359,81.76076555023924 1185,77 C 1285.358851674641,72.23923444976076 1362.6794258373207,81.11961722488039 1440,90 L 1440,600 L 0,600 Z"
      );
    }

    25% {
      d: path(
        "M 0,600 L 0,90 C 94.74641148325358,76.76555023923446 189.49282296650716,63.531100478468915 299,73 C 408.50717703349284,82.46889952153109 532.775119617225,114.64114832535884 622,124 C 711.224880382775,133.35885167464116 765.4066985645932,119.9043062200957 845,104 C 924.5933014354068,88.0956937799043 1029.598086124402,69.74162679425838 1133,67 C 1236.401913875598,64.25837320574162 1338.200956937799,77.12918660287082 1440,90 L 1440,600 L 0,600 Z"
      );
    }

    50% {
      d: path(
        "M 0,600 L 0,90 C 118.17224880382773,71.07177033492823 236.34449760765546,52.143540669856456 327,54 C 417.65550239234454,55.856459330143544 480.7942583732058,78.49760765550239 570,87 C 659.2057416267942,95.50239234449761 774.4784688995215,89.86602870813398 869,92 C 963.5215311004785,94.13397129186602 1037.2918660287082,104.03827751196171 1129,105 C 1220.7081339712918,105.96172248803829 1330.3540669856459,97.98086124401914 1440,90 L 1440,600 L 0,600 Z"
      );
    }

    75% {
      d: path(
        "M 0,600 L 0,90 C 89.8468899521531,99.34928229665071 179.6937799043062,108.69856459330143 282,109 C 384.3062200956938,109.30143540669857 499.0717703349284,100.55502392344496 605,101 C 710.9282296650716,101.44497607655504 808.019138755981,111.08133971291866 890,112 C 971.980861244019,112.91866028708134 1038.8516746411483,105.11961722488039 1128,100 C 1217.1483253588517,94.88038277511961 1328.5741626794259,92.4401913875598 1440,90 L 1440,600 L 0,600 Z"
      );
    }

    100% {
      d: path(
        "M 0,600 L 0,90 C 67.95215311004785,65.30143540669857 135.9043062200957,40.60287081339713 246,50 C 356.0956937799043,59.39712918660287 508.33492822966514,102.88995215311004 614,120 C 719.6650717703349,137.11004784688996 778.755980861244,127.83732057416269 870,114 C 961.244019138756,100.16267942583731 1084.641148325359,81.76076555023924 1185,77 C 1285.358851674641,72.23923444976076 1362.6794258373207,81.11961722488039 1440,90 L 1440,600 L 0,600 Z"
      );
    }
  }

  .path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: 31s;
  }

  @keyframes pathAnim-1 {
    0% {
      d: path(
        "M 0,600 L 0,210 C 109.76076555023923,225.79904306220095 219.52153110047846,241.59808612440187 312,235 C 404.47846889952154,228.40191387559813 479.67464114832535,199.40669856459334 568,193 C 656.3253588516747,186.59330143540666 757.7799043062201,202.77511961722487 848,212 C 938.2200956937799,221.22488038277513 1017.2057416267942,223.4928229665072 1114,222 C 1210.7942583732058,220.5071770334928 1325.3971291866028,215.2535885167464 1440,210 L 1440,600 L 0,600 Z"
      );
    }

    25% {
      d: path(
        "M 0,600 L 0,210 C 99.25358851674642,226.46889952153109 198.50717703349284,242.93779904306217 285,248 C 371.49282296650716,253.06220095693783 445.22488038277504,246.71770334928232 529,226 C 612.775119617225,205.28229665071768 706.5933014354066,170.19138755980862 823,168 C 939.4066985645934,165.80861244019138 1078.4019138755982,196.51674641148324 1185,209 C 1291.5980861244018,221.48325358851676 1365.7990430622008,215.74162679425837 1440,210 L 1440,600 L 0,600 Z"
      );
    }

    50% {
      d: path(
        "M 0,600 L 0,210 C 90.16267942583733,203.8755980861244 180.32535885167465,197.75119617224883 275,204 C 369.67464114832535,210.24880382775117 468.8612440191388,228.87081339712915 571,232 C 673.1387559808612,235.12918660287085 778.2296650717703,222.76555023923447 863,218 C 947.7703349282297,213.23444976076553 1012.22009569378,216.066985645933 1105,216 C 1197.77990430622,215.933014354067 1318.88995215311,212.96650717703352 1440,210 L 1440,600 L 0,600 Z"
      );
    }

    75% {
      d: path(
        "M 0,600 L 0,210 C 74.69856459330143,208.755980861244 149.39712918660285,207.51196172248802 236,213 C 322.60287081339715,218.48803827751198 421.11004784689,230.70813397129186 524,224 C 626.88995215311,217.29186602870814 734.1626794258373,191.6555023923445 846,197 C 957.8373205741627,202.3444976076555 1074.2392344497607,238.66985645933016 1174,246 C 1273.7607655502393,253.33014354066984 1356.8803827751196,231.66507177033492 1440,210 L 1440,600 L 0,600 Z"
      );
    }

    100% {
      d: path(
        "M 0,600 L 0,210 C 109.76076555023923,225.79904306220095 219.52153110047846,241.59808612440187 312,235 C 404.47846889952154,228.40191387559813 479.67464114832535,199.40669856459334 568,193 C 656.3253588516747,186.59330143540666 757.7799043062201,202.77511961722487 848,212 C 938.2200956937799,221.22488038277513 1017.2057416267942,223.4928229665072 1114,222 C 1210.7942583732058,220.5071770334928 1325.3971291866028,215.2535885167464 1440,210 L 1440,600 L 0,600 Z"
      );
    }
  }

  .path-2 {
    animation: pathAnim-2 4s;
    animation-timing-function: linear;
    animation-iteration-count: 32s;
  }

  @keyframes pathAnim-2 {
    0% {
      d: path(
        "M 0,600 L 0,330 C 85.82775119617227,303.8373205741627 171.65550239234454,277.67464114832535 267,288 C 362.34449760765546,298.32535885167465 467.2057416267942,345.1387559808613 560,363 C 652.7942583732058,380.8612440191387 733.5215311004786,369.7703349282296 832,354 C 930.4784688995214,338.2296650717704 1046.7081339712918,317.77990430622015 1151,313 C 1255.2918660287082,308.22009569377985 1347.6459330143541,319.1100478468899 1440,330 L 1440,600 L 0,600 Z"
      );
    }

    25% {
      d: path(
        "M 0,600 L 0,330 C 116.87081339712921,329.6459330143541 233.74162679425842,329.29186602870817 340,330 C 446.2583732057416,330.70813397129183 541.9043062200956,332.47846889952154 628,344 C 714.0956937799044,355.52153110047846 790.6411483253589,376.7942583732057 884,372 C 977.3588516746411,367.2057416267943 1087.5311004784687,336.3444976076555 1183,325 C 1278.4688995215313,313.6555023923445 1359.2344497607655,321.82775119617224 1440,330 L 1440,600 L 0,600 Z"
      );
    }

    50% {
      d: path(
        "M 0,600 L 0,330 C 114.77511961722487,317.3397129186603 229.55023923444975,304.6794258373206 314,309 C 398.44976076555025,313.3205741626794 452.57416267942585,334.622009569378 529,329 C 605.4258373205741,323.377990430622 704.1531100478469,290.8325358851675 820,297 C 935.8468899521531,303.1674641148325 1068.8133971291866,348.04784688995215 1175,360 C 1281.1866028708134,371.95215311004785 1360.5933014354068,350.97607655502395 1440,330 L 1440,600 L 0,600 Z"
      );
    }

    75% {
      d: path(
        "M 0,600 L 0,330 C 108.70813397129183,312.41148325358853 217.41626794258366,294.82296650717706 318,294 C 418.58373205741634,293.17703349282294 511.043062200957,309.11961722488036 609,314 C 706.956937799043,318.88038277511964 810.4114832535885,312.6985645933015 910,310 C 1009.5885167464115,307.3014354066985 1105.311004784689,308.0861244019139 1193,312 C 1280.688995215311,315.9138755980861 1360.3444976076555,322.9569377990431 1440,330 L 1440,600 L 0,600 Z"
      );
    }

    100% {
      d: path(
        "M 0,600 L 0,330 C 85.82775119617227,303.8373205741627 171.65550239234454,277.67464114832535 267,288 C 362.34449760765546,298.32535885167465 467.2057416267942,345.1387559808613 560,363 C 652.7942583732058,380.8612440191387 733.5215311004786,369.7703349282296 832,354 C 930.4784688995214,338.2296650717704 1046.7081339712918,317.77990430622015 1151,313 C 1255.2918660287082,308.22009569377985 1347.6459330143541,319.1100478468899 1440,330 L 1440,600 L 0,600 Z"
      );
    }
  }

  .path-3 {
    animation: pathAnim-3 4s;
    animation-timing-function: linear;
    animation-iteration-count: 33s;
  }

  @keyframes pathAnim-3 {
    0% {
      d: path(
        "M 0,600 L 0,450 C 109.73205741626796,463.6555023923445 219.46411483253593,477.311004784689 324,485 C 428.5358851674641,492.688995215311 527.8755980861243,494.41148325358853 605,491 C 682.1244019138757,487.58851674641147 737.0334928229667,479.04306220095697 823,477 C 908.9665071770333,474.95693779904303 1025.9904306220096,479.4162679425837 1134,476 C 1242.0095693779904,472.5837320574163 1341.0047846889952,461.2918660287081 1440,450 L 1440,600 L 0,600 Z"
      );
    }

    25% {
      d: path(
        "M 0,600 L 0,450 C 84.46889952153111,457.87559808612446 168.93779904306223,465.75119617224885 265,463 C 361.0622009569378,460.24880382775115 468.71770334928215,446.8708133971291 574,442 C 679.2822966507179,437.1291866028709 782.1913875598088,440.76555023923447 867,433 C 951.8086124401912,425.23444976076553 1018.5167464114832,406.066985645933 1111,407 C 1203.4832535885168,407.933014354067 1321.7416267942585,428.96650717703346 1440,450 L 1440,600 L 0,600 Z"
      );
    }

    50% {
      d: path(
        "M 0,600 L 0,450 C 120.10526315789477,464.62200956937795 240.21052631578954,479.24401913875596 320,472 C 399.78947368421046,464.75598086124404 439.26315789473676,435.6459330143541 529,419 C 618.7368421052632,402.3540669856459 758.7368421052632,398.17224880382776 857,408 C 955.2631578947368,417.82775119617224 1011.7894736842104,441.6650717703349 1102,451 C 1192.2105263157896,460.3349282296651 1316.1052631578948,455.16746411483257 1440,450 L 1440,600 L 0,600 Z"
      );
    }

    75% {
      d: path(
        "M 0,600 L 0,450 C 65.97129186602868,460.488038277512 131.94258373205736,470.97607655502395 250,471 C 368.05741626794264,471.02392344497605 538.2009569377991,460.5837320574162 627,458 C 715.7990430622009,455.4162679425838 723.2535885167464,460.6889952153111 814,451 C 904.7464114832536,441.3110047846889 1078.7846889952152,416.6602870813397 1197,414 C 1315.2153110047848,411.3397129186603 1377.6076555023924,430.66985645933016 1440,450 L 1440,600 L 0,600 Z"
      );
    }

    100% {
      d: path(
        "M 0,600 L 0,450 C 109.73205741626796,463.6555023923445 219.46411483253593,477.311004784689 324,485 C 428.5358851674641,492.688995215311 527.8755980861243,494.41148325358853 605,491 C 682.1244019138757,487.58851674641147 737.0334928229667,479.04306220095697 823,477 C 908.9665071770333,474.95693779904303 1025.9904306220096,479.4162679425837 1134,476 C 1242.0095693779904,472.5837320574163 1341.0047846889952,461.2918660287081 1440,450 L 1440,600 L 0,600 Z"
      );
    }
  }
}

*/
</style>
