---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Phillip Kent Knight";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Hi, I'm Phil</h1>
  <p>
    A campaigner turned technologist, I help people build products with purpose.
  </p>
</BaseLayout>
