---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Phillip Kent Knight";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    A campaigner turned technologist, I help people build products with purpose.
  </p>

 

</BaseLayout>
