---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Phillip Kent Knight";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="full-page">
    <div class="content">
      <h1>Hi, I'm Phil</h1>
      <p>
        A campaigner📣 turned technologist💾</p><p>I help people build web products with
        purpose.
      </p>
    </div>
  </div>
</BaseLayout>
<style>
  /* remove baseline alignment used elsewhere */
  body :global(.wrapper) {
    align-content: normal;
  }
  .full-page {
    display: grid;
  }
  .content {
    display: grid;
    place-content: center;
  }
</style>
