---
---
<footer>
  <p><small>© Phillip Kent Knight 2024</small></p>
</footer>
<style>
    footer {
      display: flex;
      gap: 1rem;
      justify-content: end;
      padding: 1cap;
    }
  </style>