---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import { SkipLinks } from 'accessible-astro-components';
---
<header>
<SkipLinks />
    <nav>

        <Hamburger />
        <Navigation />
      
    </nav>
</header>