---
const pathname = new URL(Astro.request.url).pathname;
---

<nav class="navbar" aria-label="Main Menu">
  <h2 class="visually-hidden">Main Menu</h2>
  <ul class="nav navbar-nav">
    {
      Astro.url.pathname != "/" && (
        <li class="logo">
          <a href="/">
            Phillip Kent Knight
          </a>
        </li>
      )
    }
    <li class="nav-item">
      <a class={pathname === "/about/" ? "nav-link active" : "nav-link"} href="/about/">About</a>
    </li>
    <li class="nav-item">
      <a class={pathname === "/blog/" ? "nav-link active" : "nav-link"} href="/blog/">Blog</a>
    </li>
  </ul>
</nav>

<style>
  ul.nav {
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  li.logo {
    margin-right: auto;
    
  }
  .logo:focus-within{
    font-style: italic;
  }
   .logo:hover {
    font-style: italic;
  }
  .logo > * {
    font-weight: bold;
    text-decoration: none;
    color: var(--main-color, #000000);
  }
  .nav-item {
    display: flex;
    transition: all 0.5s ease-out;
    box-shadow: 2px 2px 1px #000000bb;
    border: 2px solid;
  }

  .nav-item:focus-within{
    box-shadow: inset 2px 2px 1px #000000bb;
  }
  .nav-item:hover{
    box-shadow: inset 2px 2px 1px #000000bb;
  }



  .nav-link {
    padding: 0.5rem;
    text-decoration: none;
    outline-offset: 0.25rem;
    outline-style: thick;
    color: var(--main-color, #000000);
    text-transform: lowercase;
  }
</style>
