---
const { tags } = Astro.props;
---

<ul class="tags">
  {
    tags.map((tag) => (
      <li class="tag">
        <a href={`/tags/${tag}`}>{tag}</a>
      </li>
    ))
  }
</ul>

<style>
  .tags {
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;
  }

  .tags > li {
    display: grid;
    place-content: center;
  }
  .tags > li > a {
    color: #fff;
    background-color: #000;
    padding: 0.5rem;
    outline-offset: 0.25rem;
    outline-style: thick;
    text-decoration: none;
  }

  .tags > li > a:focus-within,
  .tags > li > a:hover {
    text-decoration: underline dotted;
    text-underline-offset: 0.5cap;
  }
</style>
