---

---

<div class="info-box">
  <slot />
</div>

<style is:global>
  .info-box {
    background-color: black;
    color: white;
    border: 1.5px solid black;
  }

  .info-box h2 {
    font-size: 1.3125rem;
    padding-inline: 1.5rem;
  }
  .info-box h3 {
    font-size: 1rem;
  }
</style>
