---
import BlogLayout from "./BlogLayout.astro";
import Tags from "../components/Tags.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { fade } from "astro:transitions";

const { frontmatter } = Astro.props;
---

<BlogLayout pageData={frontmatter}>
  <article class="wrapper">
    <header class="full-bleed wrapper">
      <h1>{frontmatter.title}</h1>
      <FormattedDate date={frontmatter.pubDate} />
    </header>

    <slot />

    <footer>
      <Tags tags={frontmatter.tags} />
    </footer>
  </article>
</BlogLayout>
